@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Progress component styles */
[data-radix-progress-root] {
  position: relative;
  height: 1rem;
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius);
  background-color: hsl(var(--secondary));
}
